@model Product_Management.ViewModel.CategoryViewModel

<table class="table table-hover table-bordered">
    <tr class="table-active text-center">
        <th>STT</th>
        <th>Mã danh mục</th>
        <th>Tên danh mục</th>
        <th>Thao tác</th>
    </tr>

    @if (Model.Categories != null)
    {
        int i = (Model.PageIndex - 1) * Model.PageSize;
        @foreach (var cate in Model.Categories)
        {
            <tr>
                <td class="text-center">@(++i)</td>
                <td class="text-center">@cate.Id</td>
                <td>@cate.Name</td>
                <td class="d-flex justify-content-center align-items-center gap-2">
                    <button data-bs-toggle="modal" data-bs-target="#updateModal_@cate.Id" class="btn btn-info" title="Chỉnh sửa">
                        <i class="fa-solid fa-pen text-white"></i>
                    </button>
                    <button data-bs-toggle="modal" data-bs-target="#deleteModal_@cate.Id" class="btn btn-danger" title="Xóa">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>

            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4" class="text-center text-danger">Không có danh mục nào!</td>
        </tr>
    }
</table>

<div class="d-flex justify-content-end">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @((Model.PageIndex == 1) ? "disabled" : "")">
                <a class="page-link" aria-label="Previous"
                   asp-action="Index" asp-controller="Category"
                   asp-route-pageIndex="@(Model.PageIndex - 1)"
                   asp-route-pageSize="@Model.PageSize">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @((Model.PageIndex == i) ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-controller="Category"
                       asp-route-pageIndex="@i"
                       asp-route-pageSize="@Model.PageSize">@i</a>
                </li>
            }

            <li class="page-item @((Model.PageIndex == Model.PageCount) ? "disabled" : "")">
                <a class="page-link " aria-label="Next"
                   asp-action="Index" asp-controller="Category"
                   asp-route-pageIndex="@(Model.PageIndex + 1)"
                   asp-route-pageSize="@Model.PageSize">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

